body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* 親コンテナのスクロールを防ぐ */
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

textarea {
    width: auto;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
}

#resultContainer {
    flex: 1;
    overflow-y: auto; /* 縦スクロールを許可 */
    margin-top: 20px;
}

.result {
    text-align: left;
}

.result div {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result textarea {
    width: calc(100% - 60px);
    height: auto;
    border: none;
    background: transparent;
    resize: none;
    overflow-x: scroll;
    white-space: nowrap;
}

.copy-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #218838;
}

.options {
    margin-bottom: 15px;
    text-align: left;
}

.options label {
    display: block;
    margin-bottom: 5px;
}